In [1]:
import re
string = '车长3.9米'
pattern = r'(\d+(?:\.\d+)?)米'
match = re.search(pattern, string)
if match:
    number = match.group(1)
    print(number)

3.9

In [2]:
import re
def extract_number(string):
    pattern = r'(\d+(?:\.\d+)?)米'
    match = re.search(pattern, string)
    if match:
        return match.group(1)
    else:
        return None

In [3]:
import pandas as pd
df = pd.DataFrame({'string_column': ['车长3.9米', '宽度2.5米', '高度1.8米']})
df['number'] = df['string_column'].apply(extract_number)

In [21]:
df

  string_column number
0        车长3.9米    3.9
1        宽度2.5米    2.5
2        高度1.8米    1.8

 # 条件替换

In [25]:
df.loc[df['string_column'].str.contains('车长'),'string_column']='fds'

In [26]:
df

  string_column number string_columns
0           fds    3.9            fds
1        宽度2.5米    2.5            NaN
2        高度1.8米    1.8            NaN

In [29]:
df['string_column'] = df['string_column'].str.replace('fds','male')
df

  string_column number string_columns
0          male    3.9            fds
1        宽度2.5米    2.5            NaN
2        高度1.8米    1.8            NaN

In [20]:
import re
pattern = re.compile( r'(\d+(?:\.\d+)?)米')
m=pattern.findall('车长4.90000米')
m

['4.90000']

In [16]:
import re
pattern = re.compile( r'([1-9]+.?[0-9])米')
m=pattern.findall('车长4.9米')
m

['4.9']